@media screen and (min-width: 70px) and (max-width: 410px) {
  /* Styles applied when the screen width is 768px or wider */
  body {
	width: 375px !important;
  }
}
.spinner { 
    position: fixed; 
    z-index: 9999; 
    opacity: 80%; display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    background: white; 
    top: 0; 
    left: 0; 
    width: 100%; 
} 

.spinner > img { 
    width: 100px; 
} 

.spinner.hidden {
     animation: fadeOut 1s; animation-fill-mode: forwards;
     display: none
}

.insertCoinImg {
    width: 300px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-color-green {
    color: #4cd137 !important;
}
.text-color-red {
    color: red !important;
}
.text-color-yellow {
    color: #ffd700 !important;
}
.text-color-white {
    color: white !important;
}
.hide {
    display: none !important;
}
.inline-block {
	display: inline-block !important;
}
.center-block {
	margin-left: auto !important;
	margin-right: auto !important;
	display: block !important;
}
.text-align-center {
	text-align: center !important;
}
.text-align-left {
	text-align: left !important;
}
.text-align-right {
	text-align: right !important;
}
.text-size-12 {
	font-size: 12px !important;
}
.text-size-14 {
	font-size: 14px !important;
}
.text-size-16 {
	font-size: 16px !important;
}
.text-size-18 {
	font-size: 18px !important;
}
.text-size-20 {
	font-size: 20px !important;
}
.text-size-24 {
	font-size: 24px !important;
}
.center{
	display: flex;
	justify-content: center;
	align-items: center;
}
.mb-5{
	margin-bottom: 5px !important;
}
.mb-10 {
	margin-bottom: 10px !important;
}
.mb-20 {
	margin-bottom: 20px !important;
}
.mt-20 {
	margin-top: 20px !important;
}
.mt-10 {
	margin-top: 10px !important;
}
.borderless{
	border: none !important;
}
.pt-10 {
	padding-top: 10px !important;
}
.pb-10 {
	padding-bottom: 10px !important;
}
.pr-10 {
	padding-right: 10px !important;
}
.pl-10 {
	padding-left: 10px !important;
}
.pl-5 {
	padding-left: 5px !important;
}
.pr-5 {
	padding-right: 5px !important;
}
.pr-0{
	padding-right: 0px !important;
}
.pl-0{
	padding-left: 0px !important;
}
.fullwidth {
	width: 100% !important;
}
.text-shadow {
	text-shadow: 0px 1px 2px #000;
}
.td-center{
  	vertical-align: middle !important;
}
.float-left{
	float: left !important;
}
.float-right{
	float: right !important;
}
.clear-left{
	clear: left !important;
}